.woocommerce-cart {
    #pxl-main {
        padding-block: 120px 332px;
        @media #{$max-md} {
            padding-block: 105px 315px;
        }
        @media #{$max-sm} {
            padding-block: 90px 300px;
        }
    }
    .woocommerce {
        display: flex;
        gap: 30px;
        row-gap: 90px;
        justify-content: space-between;
        width: 100%;
        @media #{$max-md} {
            flex-wrap: wrap;
            .form.woocommerce-cart-form, .cart-collaterals {
                flex: 0 1 100%;
                max-width: 100%;
            }
        }
    }
    form.woocommerce-cart-form {
        flex: 0 1 927px;
        max-width: 927px;
        @media #{$max-md} {
            flex: 0 1 100%;
            max-width: 100%;
        }
        .shop_table, .cart-table {
            border: none;
            margin: 0;
            .product-remove {
                flex-basis: 112px;
                min-width: 27px;
                max-width: 112px;
            }
            .product-info {
                flex-basis: 384px;
                max-width: 384px;
                padding-left: 13px;
                @media #{$max-sm} {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
            .product-price {
                flex-basis: 154px;
                max-width: 154px;
                @media #{$max-sm} {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
            .product-quantity {
                flex-basis: 183px;
                max-width: 183px;    
                @media #{$max-sm} {
                    flex-basis: 100%;
                    max-width: 100%;
                }        
            }
            .product-subtotal {
                flex-basis: 94px;
                max-width: 94px;
                @media #{$max-sm} {
                    flex-basis: 100%;
                    max-width: 100%;
                } 
            }
            .cart-table-header {
                display: flex;
                align-items: center;
                gap: 30px;
                padding-bottom: 25px;
                border-bottom: 3px solid #63AB52;
                .table-title {
                    color: var(--color-third);
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1.75;
                }
                @media #{$max-sm} {
                    display: none;
                }
            }
            .cart-table-content {
                margin-bottom: 20px;
                .cart-table-item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    min-height: 117px;
                    padding: 15px 0;
                    @media #{$max-sm} {
                        flex-direction: column;
                        align-items: start;
                        padding: 30px 0;
                    }
                    + .cart-table-item {
                        border-top: thin solid rgba($color: #3C3C3C, $alpha: .14);
                    }
                    > div {
                        width: 100%;
                        &:not(.product-info) {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            max-width: 500px;
                            justify-content: space-between;
                            &::before {
                                content: attr(data-title);
                                display: inline-block;
                                display: none;
                            }
                            @media #{$max-sm} {
                                &::before {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .product-remove {
                        &::before {
                            display: none;
                        }     
                        padding: 0;
                        a {
                            width: 27px;
                            height: 27px;
                            border-radius: 27px;
                            min-width: 27px;
                            background-color: #FFC942;
                            color: #3C3C3C;
                            &:hover {
                                color: #3C3C3C ;
                            }
                        }
                        @media #{$max-sm} {
                            position: absolute;
                            right: 15px;
                            top: 15px;
                        }
                    }
                    .product-info {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 0;
                        @media #{$max-sm} {
                            flex-direction: column;
                            align-items: start;
                        }
                        > a {
                            display: block;
                            color: var(--color-third);
                            font-family: var(--font-primary);
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 1.75;
                        }
                        img {
                            max-height: 45px;
                            width: auto;
                            @media #{$max-sm} {
                                max-height: 150px;
                            }
                        }
                    }
                    .product-price, .product-subtotal {
                        color: var(--color-third);
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.75;
                    }
                    // .product-quantity {
                    //     .quantity {
                    //         margin: 0;
                    //         float: none;
                    //         display: flex;
                    //         gap: 15px;
                    //         align-items: center;
                    //         padding-inline: 47px;
                    //         .quantity-icon {
                    //             --pxl-box-size: 32px;
                    //             @extend .pxl-round-box;
                    //             color: var(--color-third);
                    //         }
                    //         > input {
                    //             width: 11px; 
                    //             -moz-appearance: textfield;
                    //             appearance: textfield;
                    //             border: none;
                    //         }
                    //     }
                    // }
                }
            }
            .cart-tabel-actions {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                @media #{$max-sm} {
                    flex-wrap: wrap;
                }
                .coupon {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    input#coupon_code {
                        border-radius: 60px;
                        border: thin solid rgba($color: #3C3C3C, $alpha: .3);
                        background-color: #FFF;
                        line-height: 50px;
                        padding: 0 30px;
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 600;
                        color: rgba($color: #404A3D, $alpha: .65);
                        max-width: 253px;
                    }
                    .button {
                        @extend .pxl-button-default;
                        background-color: var(--color-primary);
                        border-color: var(--color-primary) !important;
                        color: #FFF;
                        height: 52px;
                        .screen-reader-text {
                            display: block;
                            position: absolute;
                            inset: 0;
                            opacity: 0;
                        }
                        .pxl-button-text {
                            pointer-events: none;
                        }
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
                .button[name="update_cart"] {
                    @extend .pxl-button-default;
                    border-radius: 82px;
                    background-color: #FFC942;
                    line-height: 52px;
                    height: 52px;
                    padding: 0 42px;
                    color: #3C3C3C;
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 800;
                    border: thin solid #FFC942 !important;
                    .screen-reader-text {
                        display: block;
                        position: absolute;
                        inset: 0;
                        opacity: 0;
                    }
                    .pxl-button-text {
                        pointer-events: none;
                    }
                    &:hover {
                        background-color: #FFF;
                        color: #FFC942 !important;
                    }
                }
            }
        }
    }
    .cart-collaterals {
        flex: 0 1 312px;
        max-width: 312px;
        @media #{$max-md} {
            flex: 0 1 100%;
            max-width: 100%;
        }
        .cart_totals {
            width: 100%;
            float: none;
            padding: 0;
            margin: 0;
            background-color: #FFF;
            .cart_totals-box {
                padding: 35px;
                border-radius: 12px;
                border: thin solid #63AB52;
                background-color: #FFF;
                @include box-shadow(0px 11px 50px 11px rgba(1, 53, 102, 0.05));
                margin-bottom: 20px;
                .cart_totals-title {
                    color: var(--color-third);
                    font-family: var(--font-primary);
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 1.42857;
                    letter-spacing: -0.28px;
                    margin-bottom: 30px;
                }
                > table.shop_table {
                    border: none;
                    border-radius: 0;
                    tbody {
                        tr {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 30px;
                            padding: 0;
                            border: none;
                            + tr {
                                margin-top: 30px;
                            }
                            th, td {
                                display: block;
                                padding: 0;
                                border: none;
                                margin: 0;
                                &::before {
                                    display: none;
                                }
                            }
                            &.cart-subtotal {
                                th, td {
                                    color: #5C6672;
                                    font-family: var(--font-primary);
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 1.75;
                                }
                            }
                            &.order-total {
                                th, td {
                                    * {
                                        color: var(--color-third);
                                        font-family: var(--font-primary);
                                        font-size: 16px;
                                        font-weight: 800;
                                        line-height: 1.75;
                                    }
                                }
                            }
                            &.shipping {
                                td {
                                    .woocommerce-shipping-destination {
                                        display: block;
                                        color: #FFF;
                                        font-family: var(--font-primary);
                                        font-size: 16px;
                                        font-weight: 300;
                                        line-height: 1.6;
                                        margin-bottom: 5px;
                                        strong {
                                            font-weight: 500;
                                        }
                                    }
                                    #shipping_method.woocommerce-shipping-methods{
                                        li {
                                            margin-bottom: 5px;
                                        }
                                        label, input{
                                            @extend .woocommerce-shipping-destination;
                                            .amount {
                                                font-weight: inherit;
                                            }
                                        }
                                    }
                                    #shipping_method {
                                        li {
                                            display: flex;
                                            align-items: center;
                                            gap: 4px;
                                            font-weight: 300;
                                            input {
                                                width: 10px;
                                                height: 10px;
                                            }
                                        }
                                    }
                                    form.woocommerce-shipping-calculator {
                                        width: 100%;
                                        .shipping-calculator-button {
                                            margin: 0;
                                            @extend .woocommerce-shipping-destination;
                                            color: #FFF;
                                            &:hover {
                                                color: var(--color-secondary);
                                            }
                                        }
                                        .selection {
                                            .select2-selection {
                                                height: auto;
                                                text-align: start;
                                            }
                                            .select2-selection__rendered {
                                                padding: 0 20px;
                                                line-height: 42px;
                                            }
                                        }
                                        .button {
                                            line-height: 43px;
                                            border-radius: 100px;
                                            background-color: #FFF;
                                            color: var(--color-third);
                                            font-family: var(--font-primary);
                                            font-size: 12px;
                                            font-weight: 400;
                                            letter-spacing: 2px;
                                            text-transform: uppercase;
                                            padding: 0 32px;
                                            border: thin solid #FFF;
                                            &:hover {
                                                background-color: transparent;
                                                color: #FFF;
                                            }
                                        }
                                    }
                                }
                            }
                            &.order-total {
                                td {
                                    .woocommerce-Price-amount {
                                        font-family: var(--font-primary);
                                        font-size: 18px;
                                        font-weight: 300;
                                        line-height: 1.55;
                                        color: inherit;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .wc-proceed-to-checkout {
                padding: 0;
                &::after, &::before {
                    display: none;
                }
                .button  {
                    @extend .pxl-button-default;
                    border-radius: 82px;
                    background-color: var(--color-primary);
                    line-height: 52px;
                    height: 52px;
                    padding: 0 42px;
                    color: #FFF;
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 800;
                    border: thin solid var(--color-primary) !important;
                    margin: 0;
                    &:hover {
                        background-color: #FFF;
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .wp-block-woocommerce-cart {
        .wc-block-cart {
            margin: 0;
            padding: 0;
            .wc-block-components-main {
                flex: 1 0 100%;
                max-width: 1300px;
                padding: 0;
                margin: 0;
            }
            .wc-block-components-sidebar {
                flex: 1 0 100%;
                max-width: 653px;
                padding: 46px 35px 67px 60px;
                margin: 0;
                background-color: var(--color-third);
                .wc-block-components-totals-wrapper {
                    padding-block: 15px;
                    border-bottom: thin solid rgba($color: #FFF, $alpha: .17);
                    .wc-block-components-totals-coupon {
                        padding: 0;
                        color: #FFF;
                        font-family: var(--font-secondary);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.35;
                        letter-spacing: -1px;
                    }
                    #wc-block-components-totals-coupon__input-coupon {
                        padding: 0 15px;
                        line-height: 42px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

// Cart Sidebar
#pxl-cart-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	visibility: hidden;
	.pxl-popup--overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(31, 32, 34, 0.8);
		cursor: pointer;
	}
	.pxl-item--close {
		top: 50%;
		left: auto;
		right: 15px;
		@include transform(translate(0, -50%));
		position: absolute;
        background-color: var(--color-primary);
		&:before, &:after {
			background-color: #FFF;
		}
	}
	.pxl-widget-cart-sidebar {
		padding-bottom: 137px;
		background-color: #fff;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 9999;
		width: 360px;
		@include transition(all .25s cubic-bezier(.645,.045,.355,1));
		@include transform(translateX(100%));
		.widget_shopping_title {
			font-size: 18px;
			font-weight: 600;
			color: var(--color-third);
			flex-grow: 1;
            font-family: var(--font-secondary);
		}
		.widget_shopping_head {
			display: flex;
			background-color: #f9f9f9;
			padding: 15px 30px;
			margin-bottom: 20px;
			align-items: center;
			position: relative;
			.ct-close {
				height: 36px;
				width: 36px;
			}
		}
		.widget_shopping_cart {
			padding: 0px;
			height: 100%;
			overflow-y: scroll;
			.widget_shopping_cart_content {
				ul.cart_list {
                    margin: 0;
                    padding-bottom: 150px;
					li {
						padding: 15px 60px 15px 30px;
						display: flex;
                        align-items: center;
						flex-wrap: nowrap;
						border-bottom: thin dashed rgba(0,0,0,0.1);
						position: relative;
                        .quantity-icon {
                            display: none;
                        }
						&:last-child {
							border: none;
							padding-bottom: 0;
						}
						&.empty {
							font-size: 16px;
							margin-top: 40px;
							text-align: center;
							display: block;
                            padding: 30px;
							> span {
                                text-align: center;
								margin-bottom: 20px;
								display: block;
								margin-top: 20px;
							}
							i {
                                font-size: 100px;
								color: rgba(0,0,0,0.2);
							}
							.pxl-button {
                                width: 100%;
                                @extend .pxl-button-default;
                                display: flex;
                                align-items: center;
                                justify-content: center;

							}
						}
					}
					.cart-product-image {
						width: 45px;
						min-width: 45px;
						margin-right: 15px;
						a {
							display: inline-block;
						}
						img {
							margin: 0;
							width: inherit;
							@include border-radius(0px);
						}
					}
					.cart-product-meta {
						padding-right: 12px;
						h3 {
						    font-size: 18px;
							line-height: normal;
							margin-bottom: 0;
							a {
								color: inherit;
								font-weight: 600;
								&:hover {
									color: #555;
								}
							}
						}

					}
					a.remove_from_cart_button {
						opacity: 0;
						position: absolute;
						top: 50%;
						@include transform(translate(0, -50%));
						right: 15px;
						width: 30px;
						height: 30px;
						&:before, &:after {
							background-color: var(--color-third);
							height: 1px;
						}
					}
					li:hover a.remove_from_cart_button {
						opacity: 1;
					}
				}
			}
			.widget_shopping_cart_footer {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 0px 30px 30px;
				background-color: #fff;
                @include box-shadow(5px 0px 15px 0px rgba(0, 0, 0, 0.15));
				p.total {
                    font-family: var(--font-primary);
                    font-size: 18px;
					border: none;
					padding-top: 15px;
					padding-bottom: 0;
					color: var(--color-third);
					font-weight: 600;
                    margin-bottom: 10px;
					strong {
						font-weight: inherit;
					}
				}
				p.buttons {
					margin: 0;
					display: flex;
					flex-wrap: wrap;
                    gap: 15px;
                    &::before, &::after {
                        display: none;
                    }
					.pxl-button {
                        height: 52px;
                        width: 100%;
                        margin: 0;
                        @extend .pxl-button-default;
                        &.checkout  {
                            color: #404a3d;
                            background-color: #eddd5e;
                            border-color: #eddd5e;
                            &:hover {
                                background-color: transparent;
                                color: #404a3d;
                            }
                        }
					}
				}
			}
		}
	}
	&.active {
		visibility: visible;
		.pxl-widget-cart-sidebar {
			@include transform(translateY(0%));
		}
	}
}
