.woocommerce div.product form.cart div.quantity, 
.woocommerce .woocommerce-cart form.woocommerce-cart-form .shop_table .product-quantity .quantity, 
.woocommerce-cart form.woocommerce-cart-form .cart-table .product-quantity .quantity{
    margin-right: 0;
    position: relative;
    width: fit-content;
    margin: 0;
    float: none;
    display: flex;
    gap: 15px;
    align-items: center;
    padding-inline: 47px;
    > input {
        color: var(--color-third);
        font-family: var(--font-primary);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.55556;
        width: 28px; 
        -moz-appearance: textfield;
        appearance: textfield;
        border: none;
    }
    .quantity-icon {
        --pxl-box-size: 32px;
        @extend .pxl-round-box;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: var(--font-secondary);
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        display: block;
        border: thin solid rgba($color: #3C3C3C, $alpha: .17);
        cursor: pointer;
        color: var(--color-third);
        transition: .3s;
        &:hover {
            background-color: var(--color-primary);
            color: #FFF;
            border-color: var(--color-primary);
        }
        &.quantity-down {
            left: 0;
            &::before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 2px;
                background-color: currentcolor;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.quantity-up {
            right: 0;
            &::before {
                content: '';
                display: inline-block;
                background-color: currentcolor;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 12px;
                height: 2px;
                transform: translate(-50%, -50%);
            }
            &::after {
                content: '';
                display: inline-block;
                width: 2px;
                height: 12px;
                background-color: currentcolor;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.single.single-product { 
    #pxl-main {
        padding-block: 120px 332px;
        @media #{$max-lg} {
            padding-block: 105px 315px;
        }
        @media #{$max-sm} {
            padding-block: 90px 300px;
        }
    } 
    .product {
        .product-details {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            column-gap: 30px;
            justify-content: space-between;
            > .onsale {
                position: absolute;
                top: 30px;
                left: 30px;
                width: auto;
                height: auto;
                padding: 0px 12px;
                background-color: var(--color-primary);
                color: #FFF;
                font-size: 13px;
                font-weight: 700;
                line-height: 27px;
                display: inline-block;
                border-radius: 2px;
                min-height: auto;
                margin: 0;
                &.percentage {
                    background-color: var(--color-secondary);
                    color: #404A3D;
                    left: 30px;
                    right: auto;
                }
            }
            .woocommerce-product-gallery {
                position: relative;
                margin: 0 !important;
                flex: 0 1 589px;
                max-width: 589px;
                @media #{$max-md} {
                    flex: 1 0 100%;
                    max-width: 100%;
                }
                &.woocommerce-gallery-single, .flex-viewport {
                    border-radius: 12px;
                    background-color: #FFF;
                    @include box-shadow(0px 11px 50px 11px rgba(1, 53, 102, 0.05));
                }
                .woocommerce-product-gallery__trigger {
                    position: absolute;
                    top: 30px !important;
                    right: 30px !important;
                    color: var(--color-primary) !important;
                    border: thin solid var(--color-primary) !important;
                    transition: color .3s linear, background-color .3s linear, transform .3s linear, opacity .3s linear;
                    transform: scale(0);
                    opacity: 0;
                    &::before {
                        border-color: currentColor !important;
                    }
                    &::after {
                        background-color: currentColor !important;
                    }
                    &:hover {
                        background-color: var(--color-primary);
                        color: #FFF !important;
                    }
                }
                &:hover {
                    .woocommerce-product-gallery__trigger {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                .woocommerce-product-gallery__wrapper {
                    width: 100%;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 122px 30px 200px 30px;
                        img {
                            max-height: 286px;
                            width: auto;
                        }
                    }
                } 
                .flex-direction-nav {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    overflow-x: auto;
                    scrollbar-width: none;   
                    -ms-overflow-style: none; 
                    list-style: none;
                    right: 15px;
                    bottom: 15px;
                    gap: 10px;
                    width: auto;
                    display: inline-flex;
                    justify-content: space-between;
                    pointer-events: none;
                    opacity: 0;
                    transform: translateY(15px);
                    transition: opacity .3s linear, transform .3s linear;
                    &::-webkit-scrollbar {
                        display: none
                    }
                    > li {
                        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                        z-index: 99;
                        &.flex-nav-next {
                            transform: scaleX(-1);
                        }
                        a {
                            font-size: 0px;
                            width: 40px;
                            height: 40px;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #101010;
                            border: 1px solid #101010;
                            border-radius: 42px;
                            &:before {
                                content: "\f136";
                                font-family: "Caseicon";
                                font-size: 16px;
                                display: inline-flex;
                            }
                            &:hover {
                                background-color: var(--color-third);
                                color: #FFF;
                            }
                        }
                    }
                }
                .flex-control-nav {
                    position: relative;
                    display: flex;
                    gap: 20px;
                    max-width: 421px;
                    margin: -67px auto 0 auto;
                    padding: 0 15px;
                    z-index: 99;
                    > li {
                        @extend .flex-center;
                        width: 100% !important;
                        float: none !important;
                        padding: 36px 15px 35px 15px;
                        min-height: 137px;
                        border-radius: 8px;
                        border: thin solid rgba($color: #3C3C3C, $alpha: .17);
                        background-color: #FFF;
                        flex: 0 0 calc(33.33333% - 14px);
                        img {
                            transition: .3s linear;
                            max-height: 66px;
                            width: auto;
                        }
                    }
                }
            }
            .summary {
                flex: 1 1 619px;
                max-width: 619px;
                padding: 0;
                margin: 0 !important;
                @media #{$max-md} {
                    flex: 1 0 100%;
                    max-width: 100%;
                }
                .product_title {
                    color: var(--color-third);
                    @extend .h2;
                }
                .woocommerce-product-rating {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    margin-block: 20px 20px;
                    gap: 5px;
                    &::before, &::after {
                        display: none;
                    }
                    .star-rating {
                        margin: 0;
                        color: var(--color-secondary);
                    }
                    > a {
                        color: #5C6672;
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.75;
                    }
                }
                .product_title {
                    color: var(--color-third);
                    margin-bottom: 30px;
                    @extend .h2;
                }
                .price {
                    color: #63AB52;
                    font-family: var(--font-primary);
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 1.333;
                    margin-bottom: 35px;
                    @media #{$max-sm} {
                        font-size: 22px;
                    }
                    @media #{$max-xs} {
                        font-size: 20px;
                    }
                }
                .woocommerce-product-details__short-description {
                    color: #5C6672;
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.75;
                    margin-bottom: 30px;
                }
                form.cart {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    column-gap: 15px;
                    row-gap: 35;
                    margin-bottom: 45px;
                    &::before, &::after {
                        display: none;
                    }
                    table.variations {
                        width: 100%;
                        margin-bottom: 35px;
                        .nice-select {
                            display: none;
                        }
                        tbody {
                            tr {
                                .label {
                                    padding: 0;
                                    width: auto;
                                    margin-right: 15px;
                                    flex: 0 0 auto;
                                }
                                .value {
                                    padding: 0;
                                    display: flex;
                                    .wpcvs-terms {
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 7px;
                                        .wpcvs-term {
                                            height: auto;
                                            line-height: auto;
                                            border: none;
                                            margin: 0;
                                            padding: 0;
                                            width: 85px;
                                            color: #4F545A;
                                            font-family: var(--font-primary);
                                            font-size: 14px;
                                            font-weight: 500;
                                            text-transform: capitalize;
                                            border-radius: 4px;
                                            border: thin solid rgba($color: #3C3C3C, $alpha: .17);
                                            background-color: #FFF;
                                            &.wpcvs-selected {
                                                &::before {
                                                    display: none;
                                                }
                                            }
                                            .wpcvs-term-inner {
                                                justify-content: center;
                                                line-height: 35px;
                                                height: 35px;
                                                background-color: transparent;
                                                .wpcvs-term-label {
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .single_variation_wrap {
                        width: 100%;
                        flex: 0 0 100%;
                        display: flex;
                        gap: 20px;
                        flex-wrap: wrap;
                        .single_variation {
                            display: none !important;
                        }
                    }
                    .variations_button {
                        display: flex;
                        width: 100%;
                        gap: 14px;
                        flex-wrap: wrap;
                    }
                    .add_to_cart_button, .woosw-btn {
                        @extend .pxl-button-default;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        padding: 0 42px;
                        height: 55px;
                        line-height: 55px;
                        border: thin solid var(--color-primary);
                        background-color: var(--color-primary);
                        color: #FFF;
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 800;
                        border-radius: 82px;
                        transition: all .3s linear;
                        &:hover {
                            background-color: #FFF;
                            color: var(--color-primary);
                        }
                    }
                    button.woosw-btn {
                        color: var(--color-primary);
                        background-color: #FFF;
                        &:hover {
                            background-color: var(--color-primary);
                            color: #FFF;
                        }
                    }
                    .value {
                        gap: 5px 15px;
                        .reset_variations {
                            --pxl-box-size: 36px;
                            @extend .pxl-round-box;
                            color: #FFF;
                            @extend .flex-center;
                            font-weight: 500;
                            background-color: var(--color-primary);
                        }
                    }
                }
                .woosw-btn, .single_add_to_cart_button, .added_to_cart.wc-forward {
                    display: none;
                }
                .product_meta {
                    margin-bottom: 20px;
                    > span {
                        display: block;
                        color: var(--color-third);
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.75;
                        + span {
                            margin-top: 20px;
                        }
                        > span, > a {
                            color: #5C6672;
                            font-weight: 500;
                        }
                    }
                }
                .woocommerce-social-share {
                    display: flex;
                    align-items: center;
                    column-gap: 18px;
                    row-gap: 8px;
                    flex-wrap: wrap;
                    .woocommerce-social-label {
                        color: var(--color-third);
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 1.75
                    }
                    > div {
                        display: flex;
                        gap: 17px;
                        .woocomerce-social-item {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 18px;
                            height: 18px;
                            background-color: transparent;
                            color: #404A3D;
                            font-size: 18px;
                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                }    
            }
            .woocommerce-tabs {
                flex: 1 0 100%;
                margin-top: 120px;
                @media #{$max-lg} {
                    margin-top: 105px;
                }
                ul.wc-tabs {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 49px;
                    row-gap: 10px;
                    margin: 0;
                    padding: 0;
                    border-bottom: thin solid rgba($color: #3C3C3C, $alpha: .17);
                    padding-bottom: 40px;
                    &::before, &::after {
                        display: none;
                    }
                    > li {
                        font-family: var(--font-primary);
                        color: rgba($color: #808080, $alpha: .65);
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 1.54545;
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        &::before, &::after {
                            display: none;
                        }
                        a {
                            padding: 0;
                            font-weight: inherit;
                        }
                        &.active {
                            color: var(--color-third);
                        }
                    }
                }
                .woocommerce-Tabs-panel {
                    margin: 0;
                    padding-top: 40px;
                    color: #5C6672;
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.75;
                    h2 {
                        display: none;
                    }
                    #reviews {
                        display: flex;
                        gap: 50px;
                        @media #{$max-lg} {
                            gap: 30px;
                        }
                        @media #{$max-md} {
                            flex-direction: column;
                        }
                        .clear {
                            display: none;
                        }
                        #comments {
                            flex-basis: 60%;
                            @media #{$max-md} {
                                flex-basis: auto;
                            }
                            .commentlist {
                                padding: 0;
                                .review, .comment {
                                    .comment_container {
                                        display: flex;
                                        gap: 20px;
                                        img {
                                            position: relative;
                                            width: 42px;
                                            height: 42px;
                                            border: thin solid #D5D5D5;
                                            border-radius: 50%;
                                            padding: 0;
                                        }
                                        .comment-text {
                                            margin: 0;
                                            padding: 15px;
                                            // @media #{$max-md} {
                                            //     width: 100%;
                                            // }
                                            .rating-star {
                                                margin-bottom: 12px;
                                                @media #{$max-xs} {
                                                    position: relative;
                                                    top: auto;
                                                    right: auto;
                                                }
                                            }
                                            .meta {
                                                .woocommerce-review__author {
                                                    font-size: 16px;
                                                    color: var(--color-third);
                                                    font-weight: 500;
                                                }
                                            }
                                            .description {
                                                font-size: 16px;
                                                p {
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .shop_attributes {
                            margin: 0;
                            .woocommerce-product-attributes-item__value {
                                p {
                                    padding: 15px;
                                }
                            }
                        }
                        #review_form_wrapper {
                            flex-basis: 40%;
                            @media #{$max-md} {
                                flex-basis: auto;
                            }
                            #reply-title {
                                display: block;
                                font-size: 20px;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: var(--color-third);
                                margin-bottom: 15px;
                            }
                            input, textarea {
                                width: 100%;
                                line-height: 58px;
                                border-radius: 100px;
                                border:  thin solid #D5D5D5;
                                background-color: #FFF;
                                padding-inline: 27px 25px;
                                color: #5F5F5F;
                                font-family: var(--font-secondary);
                                font-size: 15px;
                                &:focus {
                                    border-color: #000;
                                    color: #000;
                                }
                            }
                            form.comment-form {
                                > p {
                                    margin-bottom: 15px;
                                    label {
                                        display: flex;
                                        margin-bottom: 5px;
                                        font-weight: 600;
                                        .required {
                                            color: var(--color-secondary);
                                        }
                                    }
                                    &.comment-form-cookies-consent {
                                        display: flex;
                                        align-items: start;
                                        gap: 8px;
                                        #wp-comment-cookies-consent {
                                            width: fit-content;
                                            margin: 0;
                                            flex-shrink: 0;
                                            margin-top: 8px;
                                        }
                                    }
                                }
                                .comment-form-rating {
                                    .stars {
                                        a {
                                            color: var(--color-secondary);
                                        }
                                    }
                                }
                                .comment-form-comment {
                                    label {
                                        display: inline-block;
                                    }
                                    textarea {
                                        min-height: 200px;
                                        border-radius: 15px;
                                        font-size: 16px;
                                    }
                                }
                                .form-submit {
                                    margin: 0;
                                    .pxl-button {
                                        @extend .pxl-button-default;
                                        font-family: var(--font-primary);
                                    }
                                }
                            }
                        }
                    }
                    .woocommerce-product-attributes {
                        .woocommerce-product-attributes-item__value {
                            padding-inline: 15px;
                        }
                    }
                }
            }
            .related.products {
                flex: 1 0 100%;
                margin-top: 71px;
                .releted-heading {
                    text-align: center;
                    margin-bottom: 65px;
                    .heading-subtitle {
                        display: block;
                        margin-bottom: 25px;
                        .subtitle-text {
                            display: inline-block;
                            vertical-align: center;
                            margin-left: 8px;
                        }
                        svg {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
                .products {
                    .product {
                        .product-box {
                            .product-action {
                                .add_to_cart_button, .woosw-btn {
                                    font-size: 0px;
                                    .pxl-button-icon.icon-duplicated {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}