@font-face {
  font-family: 'Glittery Snowfall';
  /* src: url('../fonts/Glittery Snowfall.woff2') format('woff2'); */
  src: url('../fonts/Glittery-Snowfall.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* .bg-parallax-flipX {
  scroll-based-parallax
} */