.pxl-item-link, .pxl-box-link {
    @extend .pxl-absolute-full;
    z-index: 99;
}

.pxl-background-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
}
.pxl-image-highlight, .pxl-svg-highlight {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
}

.text-image {
    background-size: cover;
    background-position: center center;
	-webkit-background-clip: text;
	color: transparent;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pxl-carousel {
    position: relative;
    &:hover {
        .carousel-navigation {
            .navigation-button {
                opacity: 1;
                &.navigation-button-prev, &.navigation-button-next {
                    transform: translateX(0);
                }
            }
        }
    }
    .carousel-item {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity .3s linear .3s;
        z-index: 0;
        pointer-events: none;
        &.item-featured  {
            position: relative;
        }
        &.active {
            opacity: 1;
            z-index: 99;
            pointer-events: auto;
            transition: opacity .3s linear 0s;

        }
    }
    .carousel-navigation {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        position: absolute;
        top: 50%;
        left: 40px;
        right: 40px;
        height: fit-content;
        transform: translateY(-50%);
        z-index: 1000;
        pointer-events: none;
        .navigation-button {
            --pxl-box-size: 60px;
            @extend .pxl-round-box;
            @extend .flex-center;
            background-color: #FFF;
            color: #2D2330;
            pointer-events: visible;
            cursor: pointer;
            opacity: 0;
            transition: .3s linear;
            &.navigation-button-prev {
                transform: translateX(-30px);
            }
            &.navigation-button-next {
                transform: translateX(30px);
            }
            @media #{$max-lg} {
                &.navigation-button-prev {
                    transform: translateX(-15px);
                }
                &.navigation-button-next {
                    transform: translateX(15px);
                }
            }
            svg {
                width: 26px;
                height: auto;
            }
            &:hover {
                background-color: var(--color-primary);
                color: #FFF;
            }
        }
    }
}

.pxl-background-overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    transition: all .3s linear;
}
.text-default {
    font-weight: 500;
    line-height: 1.75;
}

.overflow-hidden-y {
    overflow-y: hidden;
}

.pxl-line-wrap {
    overflow: hidden !important;
}

.pxl-backdrop-filter {
    backdrop-filter: blur(5px);
}
.text-gradient {
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    background: -webkit-linear-gradient(90deg, #4776E6 0%, #8E54E9 100%) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.hover-link-parent-temporary {
    &:hover {
        .pxl-icon-wrapper {
            .pxl-icon-item {
                background-color: #3B44CD !important;
            }
        }
    }
}

.pxl-post-item {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-color: transparent;
        z-index: 0;
        opacity: 0;
        transition: opacity .25s linear;
        pointer-events: none;
        z-index: -1;
    }
    &:hover, &.active {
        &::before {
            opacity: 1;
        }
    }
}

.text-animated {
    visibility: hidden;
}

.pxl-close {
    @include border-radius(50%);
    background: rgba(255,255,255,0.7);
    border: 6px solid transparent;
    color: #777;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transform-origin: 50% 50%;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        background-color: #1b1b1b;
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:after {
        @include transform(rotate(-45deg));
    }
    &:hover {
        &:before, &:after {
            @include transform(rotate(0deg));
        }
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pxl-flex-jc-start {
    display: flex;
    justify-content: start;
}
.pxl-flex-jc-center {
    display: flex;
    justify-content: center;
}
.pxl-flex-jc-around {
    display: flex;
    justify-content: space-around;
}
.pxl-flex-jc-evenly {
    display: flex;
    justify-content: space-evenly;
}
.pxl-flex-jc-between {
    display: flex;
    justify-content: space-between;
}

.pxl-flex-ai-start {
    display: flex;
    align-items: start;
}

.pxl-flex-ai-center {
    display: flex;
    align-items: center;
}

.pxl-flex-ai-end {
    display: flex;
    align-items: end;
}

.pxl-absolute-full {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.pxl-absolute-center {
    --pxl-translate-x: -50%;
    --pxl-translate-y: -50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--pxl-translate-x), var(--pxl-translate-y));
}

.pxl-absolute-tl {
    position: absolute;
    left: 0;
    top: 0;
}

.pxl-absolute-bl {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pxl-absolute-br {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pxl-absolute-tr {
    position: absolute;
    right: 0;
    top: 0;
}

.pxl-round-box {
    width: var(--pxl-box-size);
    min-width: var(--pxl-box-size);
    height: var(--pxl-box-size);
    border-radius: 50%;
}

.pxl-square-box {
    width: var(--pxl-box-size);
    min-width: var(--pxl-box-size);
    height: var(--pxl-box-size);
}

.pxl-background-center {
    background: center center / cover no-repeat;
}

.pxl-transform {
    transform: 
        perspective(var(--pxl-perspective))
        translateX(var(--pxl-translate-x)) 
        translateY(var(--pxl-translate-y)) 
        translateZ(var(--pxl-translate-z)) 
        scale(--pxl-scale) 
        scale3d(var(--pxl-scale-x), var(--pxl-scale-y), var(--pxl-scale-z)) 
        rotate(var(--pxl-rotate))
        rotateX(var(--pxl-rotate-x)) 
        rotateY(var(--pxl-rotate-y)) 
        rotateZ(var(--pxl-rotate-z)) 
        skew(var(--pxl-skew))
        skewX(var(--pxl-skew-x)) 
        skewY(var(--pxl-skew-y)) 
        matrix(var(--pxl-matrix-a), var(--pxl-matrix-b), var(--pxl-matrix-c), var(--pxl-matrix-d), var(--pxl-matrix-e), var(--pxl-matrix-f));
}

.pxl-overflow-hidden {
    overflow: hidden;
}

.pxl-text-hidden {
    display: none;
}

.visibility-hidden {
    // visibility: hidden;
}

@include keyframes(underline-slide-restart) {
    0%, 100% {
        background-size: 100%;
    }25%, 50% {
        background-size: 0%;
    }
}
.text-underline {
    --pxl-height: 1px;
    display: inline;
    background-image: linear-gradient(
        transparent calc(100% - var(--pxl-height)),currentcolor 0px,
    );
    background-size: 100%;
    background-repeat: no-repeat;
    &:hover {
        animation: underline-slide-restart 1s ease forwards;
    }
}

// .elementor-element::before {
//     --x: 50%;
//     --y: 50%;
//     --pxl
//     background-image: radial-gradient(circle 150px at var(--x) var(--y), transparent 50px, #000) !important;
// }

.scroll-parallax-item {
    position: absolute;
    inset: 0;
}

.pxl-counter-box, .pxl-counter {
    h1, .h1 {
        @media #{$max-xl} {
            font-size: 60px;
        }
        @media #{$max-lg} {
            font-size: 56px;
        }
        @media #{$max-md} {
            font-size: 52px;
        }
        @media #{$max-sm} {
            font-size: 48px;
        }
        @media #{$max-xs} {
            font-size: 44px;
        }
    }
    h2, .h2 {
        @media #{$max-xl} {
            font-size: 46px;
        }
        @media #{$max-lg} {
            font-size: 44px;
        }
        @media #{$max-md} {
            font-size: 42px;
        }
        @media #{$max-sm} {
            font-size: 40px;
        }
        @media #{$max-xs} {
            font-size: 38px;
        }
    }
    h3, .h3 {
        font-size: 34px;
        @media #{$max-lg} {
            font-size: 32px;
        }
        @media #{$max-sm} {
            font-size: 30px;
        }
    }
}

.text-vertical {
    writing-mode: sideways-lr;
}