.grid {
    position: relative;
    .pxl-grid-masonry {
        position: relative;
    }
    .grid-inner {
        display: flex;
        flex-wrap: wrap;
        margin-inline: calc(-1 * (var(--pxl-spacing-inline) / 2));
        margin-block: calc(-1 * (var(--pxl-spacing-block) / 2));
        --pxl-width: 33.333333%;
        .grid-item {
            flex: 0 1 calc(var(--pxl-width));
            max-width: calc(var(--pxl-width));
            padding-inline: calc(var(--pxl-spacing-inline) / 2);
            padding-block: calc(var(--pxl-spacing-block) / 2);
        }
    }
    .grid-sizer {
        z-index: -1;
        pointer-events: none;
    }
}

// Pagination
.grid-pagination{
    @extend .flex-center;
    gap: 19px;
    margin-top: 54px;
    flex-wrap: wrap;
    .page-numbers {
        --pxl-box-size: 47px;
        @extend .pxl-round-box;
        @extend .flex-center;
        color: var(--color-third);
        background-color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        transition: .25s;
        border:  thin solid currentColor;
        &.current, &.dots {
            cursor: not-allowed;
        }
        &:hover, &.current {
            color: #FFF;
            background-color: var(--color-third);
        }
    }

}

// Load More
.pxl-load-more-wrapper {
    @extend .flex-center;
    
    margin-top: 90px;
    &.has-divider {
        &::before, &::after {
            content: '';
            display: block;
            width: 100%;
            // border: thin solid #D5D5D5;
            height: 1px;
            background-color: #d5d5d5;
        }
    }
    .pxl-load-more-button {
        &.load-more-button-default {
            --pxl-rotate: 45deg;
            --pxl-translate-y: -32px;
            position: relative;
            --pxl-box-size: 127px;
            @extend .pxl-round-box;
            background-color: #FFF;
            color: #363636;
            border: 1px dashed transparent;
            border-top-color: #363636;
            border-right-color: #363636;
            transform: rotate(calc(-1 * var(--pxl-rotate)));
            .pxl-load-more-icon {
                transition: .25s;
                transform: rotate(var(--pxl-rotate)) translateY(var(--pxl-translate-y));
            }
            .pxl-load-more-text {
                display: none;
            }
            &::before {
                content: '';
                position: absolute;
                inset: 18px;
                border-radius: inherit;
                border: 1px dashed #363636;
                background-color: transparent;
                @include box-shadow(0px 4px 30px rgba(89, 100, 255, .1));
                pointer-events: none;
            }
            &:hover {
                .pxl-load-more-icon {
                    animation: iconLoadMoreBonce 1s ease-in-out infinite;
                }
                &::before {
                    --pxl-rotate: 360deg;
                    animation: spin 3s linear infinite;
                    -webkit-animation: spin 10s linear infinite;;
                }
            }
        }
        &.pxl-btn-split {
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 600;
        }

        .pxl-load-more-loader {
            @extend .pxl-absolute-full;
            border-radius: 50%;
            background-color: rgba($color: #FFF, $alpha: 0.05);
            backdrop-filter: blur(20px);
        }
    }
}

@keyframes spin-center {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes iconLoadMoreBonce {
    0%, 100% {
        transform: rotate(var(--pxl-rotate)) translateY(-32px);
    }
    50% {
        transform: rotate(var(--pxl-rotate)) translateY(20px);
    }
}



