@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/flaticon_agron.eot");
  src: url("../fonts/flaticon/flaticon_agron.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/flaticon_agron.woff2") format("woff2"),
       url("../fonts/flaticon/flaticon_agron.woff") format("woff"),
       url("../fonts/flaticon/flaticon_agron.ttf") format("truetype"),
       url("../fonts/flaticon/flaticon_agron.svg#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family:  "Flaticon" !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-like:before {
    content: "\f101";
}
.flaticon-left-and-right-arrow:before {
    content: "\f102";
}
.flaticon-eye:before {
    content: "\f103";
}
.flaticon-heart:before {
    content: "\f104";
}
.flaticon-cart:before {
    content: "\f105";
}
.flaticon-loupe:before {
    content: "\f106";
}