.pxl-button, button {
    .pxl-button-icon {
        display: inline-flex
    }
}
.btn, .button, button, .pxl-button {
    @extend .flex-center;
    position: relative;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 800;
    color: #FFF;
    background-color: var(--color-primary);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    @include transition(.3s linear);
    line-height: 1;
    .pxl-button-icon, .pxl-button-text {
        position: relative;
    }
    &.pxl-button-default {
        height: 56px;
        border-radius: 100px;
        padding-inline: 44.5px;
        gap: 10px;
        border: thin solid currentColor;
        .pxl-button-text {
            --pxl-spacing-inline: 22px;
            display: block;
            position: relative;
            padding-right: var(--pxl-spacing-inline);
            transition: .3s linear;
        }
        .pxl-button-icon {
            position: absolute;
            top: 50%;
            transition: .3s ease;
            &.icon-main {
                right: 0;
                transform: translateY(-50%) scale(1);
            }
            &.icon-duplicated {
                left: 0;
                transform: translateY(-50%) scale(0);
            }
        }
        &:hover {
            background-color: #FFF;
            color: var(--color-primary);
            .pxl-button-text {
                padding-right: 0;
                padding-left: var(--pxl-spacing-inline);
            }
            .pxl-button-icon {
                &.icon-main {
                    transform: translateY(-50%) scale(0);
                }
                &.icon-duplicated {
                    transform: translateY(-50%) scale(1);
                }
            }
        }
    }

    &.pxl-toggle-button {
        flex-direction: column;
        gap: 5px;
        background-color: transparent;
        color: var(--color-primary);
        &.icon-default {
            width: 18px;
        }
        .line {
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            align-self: flex-end;
            &.line-2 {
                width: 14px;
            }
        }
        &:hover {
            .line {
                animation: grow-width .3s linear forwards;
                -webkit-animation: grow-width .3s linear forwards;
                &.line-2 {
                    animation-delay: .1s;
                    -webkit-animation-delay: .1s;
                    --pxl-width: 14px;
                }
                &.line-2 {
                    animation-delay: .2s;
                    -webkit-animation-delay: .2s;
                }
            }
        }
    }
}

.pxl-button-close {
    position: relative;
    --pxl-box-size: 50px;
    @extend .pxl-round-box;
    color: #FFF;
    border-color: thin solid currentColor;
    &:before, &::after {
        content: '';
        width: 30px;
        height: 2px;
        @extend .pxl-absolute-center;
        background-color: currentColor;
        transition: inherit;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &:hover, &:active {
        &::before {
            transform: translate(-50%, -50%) rotate(0);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(0);
        }
    }
}

.pxl-popup-search-form {
    background-color: transparent;
    &:hover {
        .pxl-button-icon {
            @extend .pxl-circular-motion;
        }
    }
}

