.single {
    &.single-portfolio, &.single-service, &.single-team {
        .container {
            max-width: 100%;
            padding: 0;
            .pxl-content-area {
                flex: 0 0 100%;
            }
        }
    }
    &.single-post {
        #pxl-main {
            padding-block: 120px 332px;
            @media #{$max-lg} {
                padding-block: 105px 315px;
            }
            @media #{$max-sm} {
                padding-block: 90px 300px;
            }
            > .container {
                max-width: 1348px;
            }
        }
        #pxl-content-area {
            .pxl-post-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                flex-wrap: wrap-reverse;
                margin-bottom: 45px;
                .pxl-post-tags, .pxl-post-socials {
                    display: flex;
                }
                .pxl-tag-list {
                    display: inline-flex;
                    gap: 14px;
                    flex-wrap: wrap;
                    > a {
                        display: inline-block;
                        color: #4F545A;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                        line-height: 32px;
                        padding-inline: 21px;
                        border-radius: 4px;
                        border: thin solid #F6F3EE;
                        background-color: #FFF;
                        transition: .3s linear;
                        &:hover {
                            background-color: #63AB52;
                            border-color: #63AB52;
                            color: #FFF;
                        }
                    }
                }
                .pxl-social-list {
                    display: inline-flex;
                    gap: 11px;
                    flex-wrap: wrap;
                    > a {
                        display: inline-block;
                        text-align: center;
                        width: 40px;
                        line-height: 36px;
                        height: 36px;
                        border-radius: 4px;
                        background-color: #F2F6F7;
                        color: var(--color-third);
                        transition: .3s linear;
                        &:hover {
                            background-color: #63AB52;
                            color: #FFF;
                        }
                    }
                }
                .pxl-tag-label, .pxl-social-label {
                    color: var(--color-third);
                    font-family: var(--font-primary);
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.55;
                    letter-spacing: -0.2px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                }
            }
            .pxl-divider {
                display: block;
                height: 1.5px;
                background-color: #F6F6F6;
                margin-bottom: 57px;
            }
            .pxl-post-author-box {
                display: flex;
                align-items: center;
                gap: 28.5px;
                padding: 26px 30px 38px 42px;
                background-color: #F1F1F1;
                border-radius: 15px;
                @media #{$max-xs} {
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
                .pxl-author-avatar {
                    overflow: hidden;
                    --pxl-box-size: 133px;
                    @extend .pxl-round-box;
                }
                .pxl-author-name {
                    font-family: 'Roboto';
                    font-size: 22px;
                    line-height: 35px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    color: var(--color-third);
                    > a {
                        color: inherit;
                    }
                }
                .pxl-author-description {
                    color: #5F5F5F;
                    font-family: var(--font-secondary);
                    font-size: 15px;
                    line-height: 1.6;
                    margin-bottom: 16px;
                    max-width: 550px;
                }
                .pxl-author-social {
                    display: flex;
                    gap: 20px;
                    > a {
                        display: inline-flex;
                        cursor: pointer;
                        color: var(--color-third);
                    }
                    @media #{$max-xs} {
                        justify-content: center;
                    }
                }
            }
        }
        #comments {
            .comment-title {
                color: var(--color-third);
                font-family: var(--font-heading);
                font-size: 22px;
                font-weight: 600;
                line-height: 1.4;
                letter-spacing: -0.44px;
                margin-bottom: 40px;
            }
            ul {
                margin: 0;
                list-style: none;
                &.children {
                    padding-top: 65px;
                    padding-left: 110px;
                    > &.children {
                        padding-left: 50px;
                        > &.children {
                            padding-left: 50px;
                            > &.children {
                                padding-left: 50px;
                            }
                        }
                    }
                    @media #{$max-sm} {
                        padding-top: 50px;
                        padding-left: 50px;
                        > &.children {
                            padding-left: 50px;
                            > &.children {
                                padding-left: 50px;
                                > &.children {
                                    padding-left: 50px;
                                }
                            }
                        }
                    }
                }
            }
            .comment-list {
                > li {
                    + li {
                        .comment-box {
                            padding-top: 68px;
                            @media #{$max-sm} {
                                padding-top: 50px;
                            }
                        }
                    }
                }
                .comment {
                    .comment-box {
                        .comment-inner {
                            position: relative;
                            display: flex;
                            gap: 41px;
                            width: fit-content;
                            @media #{$max-sm} {
                                flex-direction: column;
                            }
                            .comment-image {
                                img {
                                    --pxl-box-size: 70px;
                                    @extend .pxl-round-box;
                                }
                            }
                        }
                        .comment-header {
                            margin-bottom: 16px;
                            .comment-user {
                                display: block;
                                color: var(--color-third);
                                font-family: var(--font-primary);
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 1.6666;
                                margin-bottom: -2px;
                                > a {
                                    color: inherit;
                                }
                            }
                            .comment-date {
                                display: block;
                                color: #636D6C;
                                font-family: "DM Sans";
                                font-size: 14px;
                                font-weight: 500;
                                text-transform: capitalize;
                            }
                        }
                        .comment-text {
                            color: #636D6C;
                            font-family: var(--font-primary);
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.66667;
                            > p {
                                max-width: 690px;
                            }
                            br {
                                display: none;
                            }
                        }
                        .comment-reply {
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            > a {
                                color: #121416;
                            }
                        }
                    }
                }
            }
            #respond {
                position: relative;
                margin-top: 58px;
                padding: 67px 67px 50px 51px;
                border-radius: 8px;
                background-color: #EDF2EC;
                @media #{$max-lg} {
                    padding: 50px;
                }
                @media #{$max-sm} {
                    padding: 50px 30px;
                }
                .logged-in-as {
                    display: none;
                }
                .comment-form {
                    width: 100%;
                    color: #5F5F5F;
                    font-family: var(--font-secondary);
                    font-size: 15px;
                    line-height: 1.6;
                }
                #reply-title {
                    color: var(--color-third);
                    font-family: var(--font-heading);
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 1.4;
                    letter-spacing: -0.44px;
                    margin-bottom: 2px;
                    #cancel-comment-reply-link {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        font-size: 0;
                        display: block;
                        width: 36px;
                        height: 36px;
                        background-color: #244F0B;
                        color: #FFF;
                        border-radius: 50px;
                        border: thin solid #244F0B;
                        transition: background-color .3s linear;
                        &::after, &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 25px;
                            height: 1px;
                            background-color: currentColor;
                            transform: translate(-50%, -50%) rotate(-45deg);
                            transition: transform 0.3s ease-in-out, color 0.3s linear;
                        }
                        &::after {
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                        &:hover {
                            background-color: #FFF;
                            color: #244F0B;
                            &::after, &::before {
                                transform: translate(-50%, -50%) rotate(0deg);
                            }
                        }
                    }
                }
                .form-control-group {
                    display: flex;
                    column-gap: 36px;
                    row-gap: 28px;
                    margin-top: 22px;
                }
                .form-control {
                    width: 100%;
                }
                .comment-form-cookies-consent {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    gap: 14px;
                    margin-top: 44px;
                    input {
                        width: 17px;
                        height: 17px;
                        border: thin solid #949392;
                        margin: 0;
                    }
                    label {
                        color: #4F545A;
                        font-family: var(--font-primary);
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
                input, textarea {
                    width: 100%;
                    line-height: 65px;
                    border-radius: 8px;
                    border: thin solid #F4F4F4;
                    background-color: #FFF;
                    padding-inline: 25px;
                    color: #4F545A;
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 500;
                    @include box-shadow(0px 15px 10px 0px rgba(242, 242, 242, 0.18));
                    &:focus {
                        border-color: #4F545A;
                    }
                }
                textarea {
                    padding: 15px 25px 15px 25px;
                    min-height: 280px;
                    margin-top: 33px;
                    line-height: 1.5;
                }
                .form-submit {
                    margin-top: 40px;
                    .button {
                        color: #FFF;
                        font-family: var(--font-primary);
                        font-size: 16px;
                        font-weight: 800;
                        border: thin solid #244F0B;
                        background-color: #244F0B;
                        &:hover {
                            color: #244F0B;
                            background-color: #FFF;
                        }
                    }
                }
            }
        }
    } 
}